.navbar{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-color{
	background-color: #1e2020;
}

.navbar-light .navbar-brand {
    color: white;
}

.container{
	margin: auto;
}

.navText{
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 700;
}

.navbar-nav{
	letter-spacing: .0625rem;
}